<div id="dtr" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>Shields Overview</h1>
    <hr/>
    <% if (shields) { %>
      <% shields.forEach(function(shield){ %>
        <div class="row mb-3">
          <div class="col-sm-6">
            <h4><%= shields.image %></h4>
          </div>
          <div class="col-sm-6">
            <span class="float-sm-right">
              <ajax-form action="deleteDtr" :form-data="formData" @submitted="submittedForm()">
                <input class="form-control" id="id" name="id" type="hidden" value="<%= dtr.url %>">
                <ajax-button type="submit" class="btn btn-sm btn-outline-danger">Delete</ajax-button>
              </ajax-form>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">User:</div>
          <div class="col"><strong><%= dtr.user %></strong></div>
        </div>
        <div class="row">
          <div class="col-3">Token / Password:</div>
          <div class="col"><strong><%= dtr.token %></strong></div>
        </div>
        <hr/>
      <% }); %>
    <% } %>
    <div class="row">
      <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/dtr/add-dtr">Add shield</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
